---
# Default variables for system_setup role

# Swap configuration
disable_swap: true

# File descriptor limits
limits_nofile_soft: 100000
limits_nofile_hard: 100000
limits_nproc_soft: 32768
limits_nproc_hard: 32768
limits_memlock_soft: unlimited
limits_memlock_hard: unlimited
limits_as_soft: unlimited
limits_as_hard: unlimited

# Sysctl parameters
sysctl_net_ipv4_tcp_keepalive_time: 60
sysctl_net_ipv4_tcp_keepalive_probes: 3
sysctl_net_ipv4_tcp_keepalive_intvl: 10
sysctl_vm_max_map_count: 1048575
sysctl_vm_swappiness: 0
sysctl_net_core_rmem_max: 16777216
sysctl_net_core_wmem_max: 16777216
sysctl_net_ipv4_tcp_rmem: "4096 87380 16777216"
sysctl_net_ipv4_tcp_wmem: "4096 65536 16777216"
sysctl_net_core_netdev_max_backlog: 2500
sysctl_net_core_somaxconn: 65000

# I/O scheduler
io_scheduler: "mq-deadline"  # deadline or noop for SSDs

# nr_requests
# https://tobert.github.io/pages/als-cassandra-21-tuning-guide.html
nr_requests: "{{ 128 if ansible_facts['processor_cores'] > 64 else 32 }}"

# Required packages
required_packages_debian:
  - python3
  - python3-pip
  - curl
  - wget
  - net-tools
  - sysstat
  - htop
  - iotop
  - libaio1t64 # for Debian/Ubuntu 24.04 or higher
  # - libaio1 # for Debian/Ubuntu 22.04 or lower

required_packages_redhat:
  - python3
  - python3-pip
  #- curl
  - wget
  - net-tools
  - sysstat
  - htop
  - iotop
  - libaio
# For Amazon Linux, use: