---
# Debian/Ubuntu specific Java installation

- name: Install OpenJDK {{ java_version }} (Debian/Ubuntu)
  apt:
    name: "{{ java_package_debian }}"
    state: present
    update_cache: yes
# sudo apt install openjdk-11-jdk -y is how I was able to install it
- name: Set Java {{ java_version }} as default using update-alternatives
  alternatives:
    name: java
    path: "{{ java_home_debian }}/bin/java"
    link: /usr/bin/java
    priority: 1

# - name: Set JAVA_HOME environment variable
#   lineinfile:
#     path: /etc/environment
#     regexp: '^JAVA_HOME='
#     line: 'JAVA_HOME={{ java_home_debian }}'
#     create: yes

# $ cat /etc/environment
# PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
# it doesn't have JAVA_HOME set, so we need to set it