---
# RedHat/CentOS specific tasks for Medusa

- name: Install Medusa dependencies (RedHat/CentOS)
  yum:
    name:
      - python3
      - python3-pip
      - python3-devel
      - gcc
      - gcc-c++
      - make
      - openssl-devel
      - libffi-devel
    state: present
