[cassandra]
; Cassandra configuration
config_file = {{ medusa_cassandra_config_dir }}/cassandra.yaml
cql_username = {{ medusa_cql_username }}
cql_password = {{ medusa_cql_password }}
cql_port = {{ medusa_cql_port }}
nodetool = {{ medusa_cassandra_bin_dir }}/nodetool
cassandra_is_ccm = {{ medusa_cassandra_is_ccm }}
stop_cmd = systemctl stop hcd
start_cmd = systemctl start hcd
check_running = nodetool version

[storage]
; Storage backend configuration
storage_provider = {{ medusa_storage_provider }}
bucket_name = {{ medusa_bucket_name }}
base_path = {{ medusa_base_path }}
max_backup_age = {{ medusa_backup_grace_period_in_days }}
max_backup_count = 0
transfer_max_bandwidth = 50MB/s
concurrent_transfers = {{ medusa_concurrent_transfers }}
multi_part_upload_threshold = {{ medusa_multi_part_upload_threshold }}

{% if medusa_storage_provider == 's3' %}
[s3]
; AWS S3 configuration
aws_access_key_id = {{ medusa_s3_access_key_id }}
aws_secret_access_key = {{ medusa_s3_secret_access_key }}
region = {{ medusa_s3_region }}
{% if medusa_s3_endpoint != '' %}
host = {{ medusa_s3_endpoint }}
{% endif %}
{% endif %}

{% if medusa_storage_provider == 'gcs' %}
[gcs]
; Google Cloud Storage configuration
service_account_file = {{ medusa_config_dir }}/gcs_credentials.json
project_id = {{ medusa_gcs_project_id }}
{% endif %}

{% if medusa_storage_provider == 'azure' %}
[azure_blobs]
; Azure Blob Storage configuration
storage_account = {{ medusa_azure_storage_account }}
storage_key = {{ medusa_azure_storage_key }}
{% endif %}

{% if medusa_storage_provider == 'local' %}
[local]
; Local storage configuration
base_path = {{ medusa_local_backup_dir }}
{% endif %}

[monitoring]
; Monitoring configuration
monitoring_provider = {{ medusa_monitoring_provider }}

[grpc]
; gRPC configuration
enabled = 0

[checks]
; Health check configuration
health_check = cql
query = SELECT now() FROM system.local

[logging]
; Logging configuration
enabled = 1
file = {{ medusa_config_dir }}/medusa.log
level = INFO
format = [%(asctime)s] %(levelname)s: %(message)s
maxBytes = 20000000
backupCount = 50

[ssh]
; SSH configuration (for remote operations)
username = {{ medusa_user }}
key_file = 
port = 22
cert_file = {{ medusa_certfile }}

[restore]
; Restore configuration
verify = {{ medusa_restore_verify | lower }}
keep_auth = {{ medusa_restore_keep_auth | lower }}